<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring Framework Guru</title>
    <meta http-equiv="Content -Type" content="text/html; charset=UTF-8"/>
    <!--
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />
    -->
    <link rel="stylesheet" href="../static/w3.css" th:href="@{w3.css}"/>
    <!--

    -->
</head>
<body>
<h1>Hello</h1>
<h2>This is a page new Product empty!!!</h2>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand"></a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{activites}">activites</a></li>
                        <li><a href="#" th:href="@{utilisateurs}">utilisateurs</a></li>
                    </ul>
                </div>
                <div class="row text-center">
                    <img src="../image.jpg" th:src="@{image.jpg}"/>
                </div>
            </div>
        </nav>
        <!--
        <div th:replace="activites :: activites"></div>
        <div th:replace="utilisateurs :: utilisateurs"></div>
        -->
    </div>
</div>
</body>
</html>