<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Friends of Mine</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
    <th:block th:include="fragments/header :: header"></th:block>
<h2>Détail d'un utilisateur</h2>
<form class="w3-container" name="form1" th:object="${utilisateur}" th:action="@{/utilisateur}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>
        <label>Nom :</label><p class="w3-large w3-text-red">size must be between 1 and 16</p>
        <input name="firstname" class="w3-input" type="text" style="width:50%" th:field="*{firstName}"/>
    </p>

    <p>
        <label>Prénom : </label><p class="w3-large w3-text-red">size must be between 1 and</p>
        <input name="secondename" class="w3-input" type="text" style="width:50%" th:field="*{secondeName}"/>
    </p>

    <p>
        <label>Sexe :</label>
        <input name="sex" class="w3-radio" type="radio" value="M"  th:field="*{sex}" checked="true"/>
        <label class="w3-validate">M</label>

        <input name="sex" class="w3-radio" type="radio" value="F" th:field="*{sex}"/>
        <label class="w3-validate">F</label></p>
    <p>
        <label>Email :</label><p class="w3-large w3-text-red">not a well-formed email address</p>
        <input name="adresse" class="w3-input" type="text" style="width:50%" th:field="*{adresse}"/></p>

    <button class="w3-button" onclick="verifier()">Envoyer</button>
</form>
</body>
</html>